@charset "UTF-8";
*{
box-sizing:border-box;
}
.container{
	width:inherit;
	height:inherit;
	background-color:#ffffff;
	flex-grow:1;
}
body{
	width:1000px;
	min-height:100%;
	display:flex;
	flex-direction:column;
	line-height:1.5;
	margin:auto;
	text-align:center;
}
html{
	height:100%;
	background-color:#f5f5f5;
}
header,footer{
	width:inherit;
	background-color:#fff0e0;
}
h1{
	font-size:250%;
	padding:30px 0px;
}
h2{
	padding:20px 0px;
}
.pad{
	padding:20px 0px;
}
.inline *{
	display:inline;
	vertical-align:middle;
}
.f-right{
	float:right;
}
.logo{
	font-size:200%;
}
a{
	text-decoration:none;
	color:inherit;
}
a:hover,button:hover{
	opacity:0.5;
}
input,button,input:active,button:active{
	outline:none;
	background-color:inherit;
	height:1.3rem;
	font-size:1rem;
	margin:0px;
	padding:0px;
	border-color:#000000;
	border-style:none none solid;
}
input[type="text"],input[type="password"],input[type="email"]{
	width:15rem;
}
table{
	width:100%;
	background-color:inherit;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:1rem;
}
th{
	width:40%;
	padding:1rem 0rem 1rem 15%;
}
thead{
	border:2px;
	border-color:#000000;
	border-style:none none solid;
}
tfoot{
	border:4px;
	border-color:#000000;
	border-style:double none none;
}
.list{
	width:80%;
}