@charset "UTF-8";
*{
box-sizing:border-box;
}
.container{
	width:inherit;
	height:inherit;
	background-color:#ffffff;
	flex-grow:1;
}
body{
	width:1000px;
	min-height:100%;
	display:flex;
	flex-direction:column;
	line-height:1.5;
	margin:auto;
	text-align:center;
}
html{
	height:100%;
	background-color:#f5f5f5;
}
header,footer{
	width:inherit;
	background-color:#fff0e0;
}
h1{
	font-size:250%;
	padding:30px 0px;
}
h2{
	padding:20px 0px;
}
.pad{
	padding:20px 0px;
}
.inline *{
	display:inline;
}
.f-left{
	float:left;
}
.f-right{
	float:right;
}
.logo{
	font-size:200%;
}
a{
	font-weight:bolder;
	text-decoration:none;
	color:inherit;
}
a:hover,button:hover{
	opacity:0.5;
}
input,button{
	font-weight:bolder;
	outline:none;
	background-color:inherit;
	height:1.5rem;
	font-size:1rem;
	border-color:#000000;
	border-style:none;
	vertical-align:baseline;
}
input[type="number"]{
	border:thin inset;
}
table{
	width:100%;
	background-color:inherit;
	margin:auto;
}
th{
	width:30%;
}
thead{
	border:2px;
	border-color:#000000;
	border-style:none none solid;
}
tfoot{
	border:4px;
	border-color:#000000;
	border-style:double none none;
}
.main-container{
	width:80%;
	margin:auto;
}
.grid{
	display:flex;
	flex-flow: row wrap;
	justify-content:center;
}
.content{
	width:20%;
	padding:10px;
}
.content *{
	font-weight:normal;
}
.content img{
	width:100%;
	height:auto;
}
.form input,.form button{
	margin:0px;
	padding:0px;
	border-color:#000000;
	border-style:none none solid;
}
.form input{
	font-weight:normal;
	width:15rem;
	vertical-align:top;
}
.form td,.form th{
	height:3rem;
}
.product{
	width:50%;
}
.product table{
	width:10rem;
}
.product input{
	width:100%;
}
.product img{
	width:100%;
	height:auto;
}
.text{
	text-align:justify;
	width:50%;
	padding:0rem 1rem;
}
.flex{
	display:flex;
}
#sample{
	height:300px;
}